@import "tailwindcss";

@theme {
  --color-primary: #111111;
  /* Deep Black */
  --color-secondary: #333333;
  --color-accent: #666666;
  --color-bg-cream: #EAE0D5;
  /* Light Coffee / Latte Tone */
  --font-heading: var(--font-playfair);
  --font-body: var(--font-lato);
  --font-script: var(--font-caveat);
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}